<h1>Legends</h1>
<p>List</p>
<ul>
  <% @legends.each do |legend| %>
  <li>
    <% legend.pseudo %>
  </li>
  <% end %>
  <%# @legends.each do |legend| %>
<!--    <li><%#= link_to legend.pseudo, legend %></li>-->
  <%# end %>
</ul>
